@import "~bootstrap/scss/bootstrap";

.success-container {
    position: absolute;
    min-width: 100%;
    top: 5rem;
}

.homepage {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.user-card.card {
    min-width: 150px;
    max-width: 300px;
    margin: 1rem 0;
}

.dashboard {
    display: flex;
    justify-content: center;
}

.dash-user{
    max-width: 300px;
}